.AnswerResultsPage{
    font-family: 'Inconsolata';
    background-color: #292828;
}
#CorrectIncorrect{
    color: #C4C4C4
}
#Answer{
    color: #C2E00E;
}

#CorrectAnswer{
    color: #17D988;
}

#currentScore{
    color: #C2E00E;
}

.AnswerCheckButtonz{
    width: 10%;
    padding: 5px;
    border-radius: 100px;
    width: 100px;
    background-color: #5F6DEC;
    color: black;
}

#endmessage{
    margin-top: 10%;
    color: #C2E00E;
}